.modal, .picModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.modal-content {
  width: 500px;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.subtext {
  color: gray;
  font-size: 10px;
  margin: 5px;
}

.button {
  border-radius: 10px;
  border: 1px solid;
  padding: 5px 30px;
  background: black;
  color: white;
}

input {
  width: 50%;
  height: 25px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-top: 5px;
}

textarea {
  border-radius: 5px;
  border: 1px solid gray;
  margin-top: 5px;
}

.fullPhoto {
  justify-content: center;
  border-radius: 30px;
  max-width: 90%;
  max-height: 90%;
}

#fileInput{
  display: none;
}

#icon{
  width: 50px;
  padding-top: 10px;
  cursor: pointer;
}

.pic-modal-content {
  display: flex;
  justify-content: center;
  width: 75%;
  border-radius: 15px;
  padding: 20px;
}

.pic-modal-body {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
}

.thumbnail {
  height: 150px;
  padding-top: 20px;
}

.photoThumb {
  height: 150px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

#hideUploadContainer {
  overflow: hidden;
}

#hideUpload {
   margin-top: -100%;
   transition: 1s ease-in-out;
}

#hideUpload.showU {
  padding: 5px 0px;
  margin-top: 0px;
}

#hideUpload.hideU {
  margin-top: -100%;
}

span {
  font-size: 12px;
  padding: 3px;
  color:red;
  display: none;
}

input:invalid ~ span {
  display: block;
}

textarea:invalid ~ span {
  display: block;
}

#closeX {
  font-size: 25px;
  color: white;
  display: grid;
  position: relative;
  left: -5%;
  top: -40%;
  background-color: rgba(125, 125, 125, 0.5);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  border-radius: 5px;
  border: solid 1px white;
}