.modal, .picModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.subtext {
  color: gray;
  font-size: 10px;
  margin: 5px;
}

.button {
  border-radius: 10px;
  border: 1px solid;
  padding: 5px 30px;
  background: black;
  color: white;
}

input {
  width: 45%;
}

.fullPhoto {
  border-radius: 30px;
  max-width: 100%;
}

#fileInput{
  display: none;
}

#icon{
  width: 50px;
  padding-top: 10px;
  cursor: pointer;
}