body {
  font-family: Arial, Helvetica, sans-serif;
}

.QAhead {
  padding: 0px 40px;
  margin: 0px;
}

.clickable:hover {
  text-decoration: none;
  cursor: pointer;
}

.searchbar {
  padding: 20px 40px;
  display: flex;
  gap: 10px;
}

.searchChild {
  width: 25%;
}

.QuestionList {
  padding: 20px;
}


.QuestionItem {
  border-top: 1px solid #eee;
  /* border-top-style: solid;
  border-top-width: thin;
  border-color: gray; */
  padding: 20px;
}

.SeeMore {
  text-decoration: underline;
}

/* .SeeMore:hover {
  text-decoration: none;
  cursor: pointer;
} */

.AnswerList {
  padding-left: 25px;
}

.AnswerListAll {
  padding-left: 25px;
}

#hideContainer {
  overflow: hidden;
}

#hideContent {
   margin-top: -100%;
   transition: 1s ease-in-out;
}

#hideContent.showA {
  margin-top: 0;
}

#hideContent.hideA {
  margin-top: -100%;
}

#hideQContainer {
  overflow: hidden;
}

#hideQContent {
  /* margin-top: -100%; */
  transition: 1s ease-in-out;
}

#hideQContent.hideQ {
  margin-top: -200%;
}

#hideQContent.showQ {
  margin-top: 0;
}

#helpTrue {
  color: white;
  background-color: gray;
}

.answerInfo {
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 50px;
  font-size: 12px;
}

.postInfo {
  color: gray;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  overflow: auto;
  width: 60%;
}

.helpful {
  color: gray;
  display: flex;
  justify-content: center;
  gap: 10px;
  border-style: solid;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100px;
}

.report {
  text-decoration: underline;
  gap: 10px;
  color: gray;
}

.answerPic {
  border-radius: 20px;
  height: 100px;
  padding: 0px 10px;
}

.ansPhotos {
  display: flex;
}

#QAList {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#QAContainer {
  display: grid;
  grid-template-columns: 10% auto 10%;
}
