
h1 {
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-family: 'Oswald', sans-serif;
}

h6 {
  text-align: right;
}
.reviews-container {
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;

}
.review-list{
  flex: 8 0 auto;
  padding-bottom: 10px;
  overflow-wrap: break-word;
  padding-right: 30px;
  margin-top: 140px;
}
.review-item{
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
  width: 100%;
  overflow-wrap: break-word;
}

.response {
  background-color: grey;
}

/* Ratings stars */
.ratings-star {
  display: inline-block;
  position: relative;
  font-size: 15px;
  color: orange;
}

.star-row{
  display: flex;
  align-items: center;
}


select#sort {
  position: relative;
  display: inline-block;
  text-decoration: underline;
  border: none;
  font-size: large;
}

.sort-dropdown-content {
  text-decoration: underline;
  border:none;
}

.reviews-btn{
  height: 50px;
  width: 80;
  border: none;
  border-radius: 100px;
  color: #FFFFFF;
  font-size: medium;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.2s;
  margin: 20px;
}

#reviewsWrapper {
  display: grid;
  grid-template-columns: 10% auto 10%;
}

/* ratings sidebar */


/* .ratings-products{
  border: 1px solid rgba(58, 60, 60, 0.442);
} */

.ratings-container{
  /* box-sizing: border-box;
  width:fit-content; */
  padding: 30px;
  font-family: 'Oswald', sans-serif;
  }

.ratings-breakdown {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right:50px ;
}

.ratings-breakdown > p {
  font-weight: lighter;
  color: grey;
  text-decoration: underline;
  text-align: end;
}

.progress-bar {
  display: inline-block;
  width: 180px;
  background-color: #e0e0e0;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  margin-left: 5px;
  margin-inline-start: 30px;
}


.progress-bar-fill {
  display: block;
  height: 10px;
  background-color: #efcc65;
  border-radius: 3px;
}


.ratings-products > h4 {
  font-size: medium;
  font-weight: lighter;
  margin-bottom: 3px;
}
.ratings-products > p {
  font-size: small;
  font-weight: lighter;
  text-align: inherit;
}
.product-highlights-fill {
  text-align: right;
  height: fit-content;
  background-color:lightsteelblue;
  color: darkcyan;
  font-size:100%;
}

.progress-bar-product {
  display: inline-block;
  width: 280px;
  background-color: lightsteelblue;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  padding-left: none;
  padding-top: none;

}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility:hidden;
  width: inherit;
  bottom: 100%;
  text-align:inherit;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -60px;
  font-size: small;

}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.ratings-star-meta {
  display: flex;
  gap: 20px;
  color: darkgray;
  font-size:40px;
}

.bar-labels{
  display: flex;
  font-size: 12px;
}
.bar-label-left {
display: inline-flex;
text-align: left;
}
.bar-label-right{
display: inline-flex;
margin-left: 215px;
text-align: right;
}
