.App {
  font-family: Arial, Helvetica, sans-serif;
}

.searchParent {
  display: flex;
  gap: 10px;
}

.searchChild {
  width: 25%;
}

.QuestionList {
  padding: 20px;
}

.AnswerList {
  padding-left: 25px;
}

.answerInfo {
  display: flex;
  gap: 50px;
  font-size: 12px;
}

.postInfo {
  display: flex;
  gap: 10px;
}

.helpful {
  display: flex;
  gap: 10px;
}